body {
    font-family: Arial, sans-serif;
    text-align-last: center;
    background: linear-gradient(135deg, #fbc2eb, #a6c1ee);

}

h1 {
    color: #4c51bf;
}

#question-container {
    margin-top: 20px;
}
.selected {
    background-color: green;
    color: white;
    font-weight: bold;
}

#next-btn {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    background-color: #4c51bf;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#next-btn:hover {
    background-color: green;
}
