body {
    font-family: Arial, sans-serif;
    text-align-last: center;
    background: linear-gradient(135deg, #fbc2eb, #a6c1ee);

}

h1 {
    color: #4c51bf;
}

#question-container {
    margin-top: 20px;
}
.selected {
    background-color: green;
    color: white;
    font-weight: bold;
}
