/* Global styles */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(135deg, #fbc2eb, #a6c1ee);
}

/* Header styling */
h1 {
    color: #4c51bf;
}

/* Question container */
#question-container {
    margin-top: 20px;
}

/* Selected answer styling */
.selected {
    background-color: green;
    color: white;
    font-weight: bold;
}

/* Button styling */
button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#next-btn {
    background-color: #4c51bf;
    color: white;
}

#next-btn:hover {
    background-color: green;
}

#prev-btn {
    background-color: gray;
    color: white;
}

#prev-btn:hover {
    background-color: darkgray;
}
